<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CameraSettingsPath" value="C:\Users\Lamby\Documents\Visual Studio 2017\Projects\TrackingCamera\TrackingCamera\CameraSettings.config"/>
    <add key="DetectorPath" value="DetectorClasses\ModelDetectorFaceOpenface_nn4"/>
    <add key="ProtoFile" value="deploy.prototxt"/>
    <add key="DetectorModelFile" value="res10_300x300_ssd_iter_140000_fp16.caffemodel"/>
    <add key="EmbeddingModelFile" value="openface_nn4.small2.v1.t7"/>
    <add key="RecogniserModelFile" value="DetectorModels\recognizer.pickle"/>
    <add key="LabelEncoderFile" value="DetectorModels\le.pickle"/>
  </appSettings>
</configuration>

