<?xml version="1.0" encoding="utf-8"?>
<ArrayOfCameraConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CameraConfig>
    <CameraClass>Vstarcam_C7823WIP</CameraClass>
    <CameraName>Front Yard</CameraName>
    <HttpPort>0</HttpPort>
    <IpAddress>192.168.8.18</IpAddress>
    <IsActive>true</IsActive>
    <MinConfidence>0.6</MinConfidence>
    <OnvifPort>10080</OnvifPort>
    <Password>Gateway2</Password>
    <RtspPort>0</RtspPort>
    <UserName>admin</UserName>
  </CameraConfig>
</ArrayOfCameraConfig>